@model IEnumerable<Nlevel.Web.Models.PurchaseInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Managers", "Index", "Manager", routeValues: null, htmlAttributes: new { id = "purchasesLink" })
        </th>
        <th>
            @Html.ActionLink("Clients", "Index", "Client", routeValues: null, htmlAttributes: new { id = "purchasesLink" })
        </th>
        <th>
            @Html.ActionLink("Products", "Index", "Product", routeValues: null, htmlAttributes: new { id = "purchasesLink" })
        </th>
        <th>
            @Html.ActionLink("Purchases", "Index", "PurchaseInfo", routeValues: null, htmlAttributes: new { id = "purchasesLink" })
        </th>
        <th>
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </th>
        <th></th>
    </tr>

</table>
