@model IEnumerable<Nlevel.Web.Models.PurchaseInfoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="get">
    <table class="table">
        <tr>
            <th>
                Manager
            </th>
            <th>
                Client
            </th>
            <th>
                Product
            </th>
        </tr>
        <tr>
            <th>
                @Html.DropDownList("managerSurname", new SelectList(ViewBag.ManagerSurname.Items), "Choose Manager", new {@class = "form-control"})
            </th>
            <th>
                @Html.DropDownList("clientSurmane", new SelectList(ViewBag.ClientSurname.Items), "Choose Client", new {@class = "form-control"})
            </th>
            <th>
                @Html.DropDownList("productName", new SelectList(ViewBag.ProductName.Items), "Choose Product", new {@class = "form-control"})
            </th>
            <th>
                <input type="submit" value="Фильтр" class="btn btn-default"/>
            </th>
        </tr>
    </table>
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
        </td>
    </tr>
}

</table>
